.card_container {
    width: 90%;
    padding: 1% 5% 3% 5%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    column-gap: 5px;
    row-gap: 10px;
}

.card {
    width: 100%;
    max-width: 411px;
    background-color: white;
    padding-bottom: 20px;
    overflow: hidden;
}

.card_img_container {
    height: 200px;
    overflow: hidden;
    margin-bottom: 10px;
}

.card img {
    max-width: 411px;
    min-height: 200px;
}

.card h1, .card h3, .card p{
    color: var(--text-black);
    font-family: roboto;
    padding: 0 10px;
}

.card p {
    text-align: justify;
}

.card h3 {
    color: rgb(138, 138, 138);
}

hr {
    margin: 1.5rem 10px 0.5rem 10px;
}

.card a {
    color: var(--main-gold);
    font-family: roboto;
    text-decoration: none;
    padding: 10px;
}

@media screen and (min-width: 628px) {
    .card_container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 900px) {
    .card_container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1400px) {
    .card_container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1900px) {
    .card_container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}